* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue'
}

html,
body {
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #f8f9fa;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.card {
  background-color: blueviolet;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}