.header {
  background-color: #20b2aa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight: 900;
  font-size: 2.5rem;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn {
  padding: 12px 24px;
  background-color: #2e7d32;
  color: white;
  border: 2px solid #a4d06d;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

}

.btn:hover {
  background-color: #1b5e20;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: scale(0.97);
}